<?xml version="1.0" encoding="utf-8"?>
<Configuration>
	<Appenders>
		<Console name="Console">
			<PatternLayout pattern="[%d{HH:mm:ss.SSS}] [%t/%level] %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="all">
			<AppenderRef ref="Console" level="info" />
		</Root>
	</Loggers>
</Configuration>
